// MUI
.MuiTablePagination-actions {
    button {
        width: 50%;
    }
}

.span {
    color: black !important;
}
.MuiListItemText-primary {
    color: black !important;
}
.single-filter-button {
    margin-top: 10px;
    color: black;
    cursor: pointer;
}

.export-button {
    margin-bottom: 16px !important;
}

.typo {
    margin-bottom: 25px !important;
}

.divider {
    width: 100%;
    height: 2px;
    background: #efefef;
    margin: 3% 0
}

.home-container {
    padding: 3% 5%;
    position: relative;

    .user-drawer-button {
        position: fixed;
        bottom: 25px;
        left: 3vw;
    }

    .admin-drawer-button {
        position: fixed;
        bottom: 100px;
        left: 3vw;
    }
}