.home-container {
    display: flex;
    padding: 1% 1% 1% 1%;
}

.main-container {
    width: 70%;
    background-color: aqua;

    .chart-container {
        min-height: 100px;
        background-color: burlywood;
        margin: 10px;
    }
    .data-container {
        min-height: 100px;
        background-color: rgb(217, 202, 231);
        margin: 10px;
    }
}

.side-container {
    width: 30%;
    background-color: bisque;
    text-align: center;

    .options-container {
        background-color: aquamarine;
        min-height: 100px;
        margin:10px;

        .option-group {
            background-color: brown;
            padding-top: 10px;
            margin: 10px;
            margin-bottom: 10px;
            padding-bottom: 10px;
            min-width: 180px;
            .option {
                margin: 10px;

                .option-button {
                    max-width: 180px;
                }
            }
        }
    }
}

.table, .table-cell {
    border: 1px solid;
}