// colors
$font-color: black;
$background-color: white;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    body {
        background: $background-color;
        color: $font-color;
    }
}